---
import Section from './Section.astro'
const section = {
	flex: 1,
}
const container = {
	backgroundColor: 'var(--dark-06)',
	borderRadius: '30px',
	animation: 'fade-in 0.25s ease-in-out',
	padding: '24px',
	height: '240px',
}
---

<Section section={section} container={container}>
	<h1>Skills</h1>
</Section>
