---
import Section from './Section.astro'
import SocialIcon from './SocialIcon'
const container = {
	display: 'flex',
	alignItems: 'center',
	justifyContent: 'center',
	gap: '12px',
}
const section = {
	width: 'fit-content',
}
---

<Section section={section} container={container}>
	<SocialIcon client:only />
	<SocialIcon client:only />
	<SocialIcon client:only />
	<SocialIcon client:only />
</Section>
