---
import Availability from './Availability.astro'
import Profile from './Profile.astro'
import Section from './Section.astro'
import Socials from './Socials.astro'
const container = {
	display: 'flex',
	alignItems: 'center',
	justifyContent: 'space-between',
}
const section = {
	width: '800px',
	backgroundColor: 'var(--dark-06)',
	borderRadius: '30px',
	animation: 'fade-in 0.25s ease-in-out',
	padding: '6px 19px 6px 6px',
}
---

<Section section={section} container={container}>
	<Profile />
	<Availability />
	<Socials />
</Section>
