---

---

<div class='availability'>
	<div class='availability-container'>
		<div class='availability-icon'></div>
		<p class='availability-text'>Available for work</p>
	</div>
</div>

<style>
	.availability {
		width: fit-content;
	}
	.availability-container {
		height: 32px;
		display: flex;
		align-items: center;
		gap: 8px;
		border-radius: 12px;
		border: 1px solid var(--green-40);
		background-color: var(--dark-10);
		padding: 6px 12px 6px 12px;
	}
	.availability-icon {
		width: 6px;
		height: 6px;
		border-radius: 4px;
		background-color: var(--green-40);
	}
	.availability-text {
		color: var(--light-90);
		font-size: 14px;
		font-weight: 300;
	}
</style>
