---
import Button from '../components/Button.astro'
import ContactSection from '../components/ContactSection.astro'
import RoadCard from '../components/RoadCard.astro'
import SectionTitle from '../components/SectionTitle.astro'
import Stack from '../components/SkillCard.astro'
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout title='About'>
	<div class='section hero'>
		<div class='hero-container'>
			<h1>Get to Know Me Better!</h1>
			<div class='hero-text'>
				<p class='paragraph'>
					Greetings! I'm Leon, and I thrive in the realm of web design, where
					pixels meet purpose. Armed with a keen understanding of user
					experience and a knack for translating ideas into visually captivating
					interfaces, I embark on each project with an enthusiasm to create
					something extraordinary.
				</p>
				<p class='paragraph'><br /></p>
				<p class='paragraph'>
					My journey in web design began with a solid foundation in design
					principles, honed during my years of formal education. I hold a degree
					in Graphic Design from XYZ University, where I not only gained
					technical expertise but also developed a deep appreciation for the
					marriage of aesthetics and functionality.
				</p>
				<p class='paragraph'><br /></p>
				<p class='paragraph'>
					My tech stack is as diverse as the web itself, ranging from HTML5,
					CSS3, and JavaScript to various design tools like Adobe Creative Suite
					and Sketch. I believe in staying ahead of the curve, constantly
					exploring emerging technologies and design trends to ensure that my
					work remains both timeless and cutting-edge.
				</p>
			</div>
		</div>
	</div>
	<div class='section education'>
		<SectionTitle title='Education' icon='graduationcap' />
		<div class='education-container'>
			<RoadCard />
			<RoadCard state='end' />
		</div>
	</div>
	<div class='section experience'>
		<SectionTitle title='Experience' icon='globe' />
		<div class='education-container'>
			<RoadCard />
			<RoadCard />
			<RoadCard state='end' />
		</div>
	</div>
	<div class='section skills'>
		<SectionTitle title='Stack' icon='stacksimple' />
		<div class='stacks'>
			<Stack>
				<h3 slot='title' class='stack-title-text'>Framer</h3>
				<p slot='role' class='role'>Web Design</p>
				<p slot='description' class='description'>
					Framer serves as my go-to tool for creating interactive prototypes. I
					use it to bring designs to life, allowing stakeholders to experience
					the user flow and interactions before development begins. It's
					invaluable for refining the user experience.
				</p>
			</Stack>
			<Stack>
				<h3 slot='title' class='stack-title-text'>Framer</h3>
				<p slot='role' class='role'>Web Design</p>
				<p slot='description' class='description'>
					Framer serves as my go-to tool for creating interactive prototypes. I
					use it to bring designs to life, allowing stakeholders to experience
					the user flow and interactions before development begins. It's
					invaluable for refining the user experience.
				</p>
			</Stack>
			<Stack isEnd>
				<h3 slot='title' class='stack-title-text'>Framer</h3>
				<p slot='role' class='role'>Web Design</p>
				<p slot='description' class='description'>
					Framer serves as my go-to tool for creating interactive prototypes. I
					use it to bring designs to life, allowing stakeholders to experience
					the user flow and interactions before development begins. It's
					invaluable for refining the user experience.
				</p>
			</Stack>
			<Button text='Full Stack' theme='dark' icon='right-arrow' />
		</div>
	</div>
	<ContactSection />
</PageLayout>

<style>
	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 12px;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.paragraph {
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 300;
		color: var(--light-60);
	}
	.paragraph:not(:first-child) {
		margin-top: 2px;
	}
</style>
