---
import Button from '../components/Button.astro'
import ContactSection from '../components/ContactSection.astro'
import RoadCard from '../components/RoadCard.astro'
import SectionTitle from '../components/SectionTitle.astro'
import SkillCard from '../components/SkillCard.astro'
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout title='About'>
	<div class='section hero'>
		<div class='hero-container'>
			<h1>Get to Know Me Better!</h1>
			<div class='hero-text'>
				<p class='paragraph'>
					Greetings! I'm Max, and whether you stumbled upon my corner of the web
					intentionally or by chance, I'm excited to share with you my journey
					in the world of development. I embark on each project with an
					enthusiasm to create something extraordinary.
				</p>
				<p class='paragraph'><br /></p>
				<p class='paragraph'>
					My journey in programming started at school and has continued ever
					since. I constantly practice my basic skills while also learning new
					things and keeping up with trends in the industry.
				</p>
				<p class='paragraph'><br /></p>
				<p class='paragraph'>
					My technical stack started with Python. With it, I learned the basic
					principles of programming. As a practice, I was engaged in Web
					Scraping, creating Telegram bots, creating web apps with Flask and
					Django and working with Databases (PostgreSQL, SQLite etc.). After
					that, I switched my focus to web development. I learned JavaScript and
					TypeScript, and began using React as my primary tool for creating
					websites and web applications.
				</p>
			</div>
		</div>
	</div>
	<div class='section education'>
		<SectionTitle title='Education' icon='graduationcap' />
		<div class='education-container'>
			<RoadCard
				title="Incomplete Bachelor's degree"
				description='Saint Petersburg Electrotechnical University "LETI"'
				state='end'
				link='https://etu.ru/en/university/'
			/>
		</div>
	</div>
	<div class='section experience'>
		<SectionTitle title='Experience' icon='globe' />
		<div class='education-container'>
			<RoadCard
				title='Teacher at a coding school'
				description='Algoritmika, 2022 - present'
				link='https://algoritmika.org'
				state='end'
			/>
		</div>
	</div>
	<div class='section'>
		<SectionTitle title='Stack' icon='stacksimple' />
		<div class='stacks'>
			<SkillCard icon='react' link='https://reactjs.org'>
				<h3 slot='title' class='stack-title-text'>React</h3>
			</SkillCard>
			<SkillCard isEnd icon='nextjs' link='https://nextjs.org'>
				<h3 slot='title' class='stack-title-text'>NextJS</h3>
			</SkillCard>
			<SkillCard isEnd icon='typescript' link='https://www.typescriptlang.org'>
				<h3 slot='title' class='stack-title-text'>TypeScript</h3>
			</SkillCard>
			<SkillCard
				isEnd
				icon='javascript'
				link='https://developer.mozilla.org/en-US/docs/Web/JavaScript'
			>
				<h3 slot='title' class='stack-title-text'>JavaScript</h3>
			</SkillCard>
		</div>
		<Button text='Full Stack' link='stack' theme='dark' icon='right-arrow' />
	</div>
	<ContactSection />
</PageLayout>

<style>
	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 12px;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.paragraph {
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 300;
		color: var(--light-60);
	}
	.paragraph:not(:first-child) {
		margin-top: 2px;
	}
	.stacks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		@media screen and (max-width: 800px) {
			display: grid;
			grid-template-columns: repeat(2, minmax(200px, 1fr));
		}
		@media screen and (max-width: 500px) {
			grid-template-columns: repeat(1, minmax(200px, 1fr));
		}
	}
</style>
