---
import Copy from '../components/Icons/Copy.astro'
import MenuButton from '../components/MenuButton.astro'
import SectionTitle from '../components/SectionTitle.astro'
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout title='Contact'>
	<div class='section hero'>
		<h1>Let's Connect!</h1>
	</div>
	<div class='section contact'>
		<SectionTitle title='Contact' icon='user' />
		<div class='contact-container'>
			<div class='email'>
				<MenuButton
					text='selfdestroying.work@gmail.com'
					variant='link'
					icon='at'
					link='mailto:selfdestroying.work@gmail.com'
				/>
				<button
					class='copy-button'
					onclick='Clipboard.copy("selfdestroying.work@gmail.com")'
				>
					<Copy size={16} />
				</button>
			</div>
			<MenuButton
				text='Telegram'
				variant='link'
				icon='telegram'
				link='https://t.me/selfdestroyingq'
				target='_blank'
			/>
			<MenuButton
				text='Instagram'
				variant='link'
				icon='instagram'
				link='https://www.instagram.com/selfdestroyingq/'
				target='_blank'
			/>
		</div>
	</div>
	<div class='section contact-form'>
		<SectionTitle title='Send Me a Message' icon='paperplanetilt' />

		<form action='POST' class='contact-form-container'>
			<div class='sender-info'>
				<input type='text' name='name' placeholder='Name' />
				<input type='email' name='email' placeholder='Email' />
			</div>
			<textarea name='message' placeholder='Message'></textarea>
			<button type='submit'>Send Message</button>
		</form>
	</div>
</PageLayout>
<script is:inline>
	window.Clipboard = (function (window, document, navigator) {
		var textArea, copy
		const button = document.querySelector('.copy-button')

		function isOS() {
			return navigator.userAgent.match(/ipad|iphone/i)
		}

		function createTextArea(text) {
			textArea = document.createElement('textArea')
			textArea.style.position = 'absolute'
			textArea.style.fontSize = '17px'
			textArea.style.top = '50%'
			textArea.style.left = '50%'
			textArea.value = text
			document.body.appendChild(textArea)
		}

		function selectText() {
			var range, selection

			if (isOS()) {
				range = document.createRange()
				range.selectNodeContents(textArea)
				selection = window.getSelection()
				selection.removeAllRanges()
				selection.addRange(range)
				textArea.setSelectionRange(0, 999999)
			} else {
				textArea.select()
			}
		}

		function copyToClipboard() {
			document.execCommand('copy')
			document.body.removeChild(textArea)
		}

		copy = function (text) {
			createTextArea(text)
			selectText()
			copyToClipboard()
			button.classList.add('copied')
			setTimeout(() => button.classList.remove('copied'), 1000)
		}

		return {
			copy: copy,
		}
	})(window, document, navigator)
</script>

<style>
	.contact-container {
		display: grid;
		flex: 0 0 auto;
		gap: 12px;
		grid-auto-rows: minmax(0px, 1fr);
		grid-template-columns: repeat(2, minmax(200px, 1fr));
		grid-template-rows: repeat(2, minmax(0px, 1fr));
		height: min-content;
		justify-content: center;
		overflow: hidden;
		padding: 0px;
		position: relative;
		width: 100%;
		@media screen and (max-width: 800px) {
			grid-template-columns: repeat(1, minmax(200px, 1fr));
		}
	}
	.contact-form-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}
	.sender-info {
		width: 100%;
		display: flex;
		@media screen and (max-width: 800px) {
			flex-direction: column;
		}
		justify-content: center;
		align-items: center;
		gap: 12px;
	}
	.sender-info input,
	textarea {
		width: 100%;
		color: var(--light-90);
		background-color: var(--dark-10);
		border: none;
		border-radius: 12px;
		padding: 15px;
		font-size: 16px;
		font-weight: 500;
	}
	.sender-info input::placeholder,
	textarea::placeholder {
		color: var(--light-60);
	}
	.sender-info input:focus,
	textarea:focus {
		outline: none;
	}
	textarea {
		resize: vertical;
		min-height: 200px;
	}
	button {
		width: 100%;
		line-height: 1.4em;
		outline: none;
		border: none;
		border-radius: 12px;
		padding: 15px;
		font-weight: 600;
		font-size: 16px;
		background: var(--purple-80);
		cursor: pointer;
		color: var(--dark-10);
		opacity: 1;
		transition: all 0.3s ease;
	}

	button:hover {
		opacity: 0.8;
		transition: all 0.3s ease;
	}
	.email {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
	}
	.copy-button {
		width: 42px;
		height: 42px;
		background-color: var(--dark-10);
		color: var(--purple-80);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.copy-button.copied {
		background-color: var(--green-40);
		color: var(--dark-10);
	}
</style>
