---
import { getCollection } from 'astro:content'
import Button from '../components/Button.astro'
import ContactSection from '../components/ContactSection.astro'
import Globe from '../components/Old/Globe'
import ProjectCard from '../components/ProjectCard.astro'
import SectionTitle from '../components/SectionTitle.astro'
import SkillCard from '../components/SkillCard.astro'
import SkillsTicker from '../components/SkillsTicker.astro'
import PageLayout from '../layouts/PageLayout.astro'

const allProjects = await getCollection('projects')
---

<PageLayout title='Home'>
	<div class='section hero'>
		<div class='hero-text'>
			<h1 class='hero-title'>Hello there! Leon here!</h1>
			<p class='hero-subtitle'>
				I'm a passionate web designer who crafts digital experiences with a
				perfect blend of creativity and functionality. With an eye for detail
				and a love for clean, user-friendly designs, I bring websites to life
				that not only look stunning but also deliver seamless and enjoyable user
				journeys.
			</p>
		</div>
		<Button text='More about Me' link='about' theme='dark' icon='right-arrow' />
	</div>
	<div class='columns'>
		<div class='section location'>
			<SectionTitle title='St. Petersburg, Russia' icon='mappin' />
			<div class='globe'>
				<Globe client:only />
			</div>
		</div>
		<div class='section skills'>
			<SectionTitle title='Skills' icon='diamond' />
			<SkillsTicker />
		</div>
	</div>
	<div class='section projects'>
		<SectionTitle title='Projects' icon='pencilline' />
		<div class='projects-list'>
			{
				allProjects.map(project => (
					<ProjectCard
						title={project.data.title}
						url={project.slug}
						tags={project.data.tags}
						imageUrl={project.data.image.url}
					/>
				))
			}
		</div>
		<Button
			text='All projects'
			link='projects'
			theme='dark'
			icon='right-arrow'
		/>
	</div>
	<div class='section'>
		<SectionTitle title='Stack' icon='stacksimple' />
		<div class='stacks'>
			<SkillCard>
				<h3 slot='title' class='stack-title-text'>Framer</h3>
				<p slot='role' class='role'>Web Design</p>
				<p slot='description' class='description'>
					Framer serves as my go-to tool for creating interactive prototypes. I
					use it to bring designs to life, allowing stakeholders to experience
					the user flow and interactions before development begins. It's
					invaluable for refining the user experience.
				</p>
			</SkillCard>
			<SkillCard isEnd>
				<h3 slot='title' class='stack-title-text'>Framer</h3>
				<p slot='role' class='role'>Web Design</p>
				<p slot='description' class='description'>
					Framer serves as my go-to tool for creating interactive prototypes. I
					use it to bring designs to life, allowing stakeholders to experience
					the user flow and interactions before development begins. It's
					invaluable for refining the user experience.
				</p>
			</SkillCard>
		</div>
		<Button text='Full Stack' link='stack' theme='dark' icon='right-arrow' />
	</div>
	<ContactSection />
</PageLayout>

<style>
	.columns {
		width: 100%;
		max-width: 800px;
		display: flex;
		flex-direction: row;
		@media screen and (max-width: 800px) {
			flex-direction: column;
		}
		justify-content: center;
		align-items: center;
		gap: 24px;
	}
	.hero {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 24px;
		padding: 24px;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 12px;
	}
	.hero-subtitle {
		font-size: 16px;
		line-height: 1.4em;
		color: var(--light-60);
		font-weight: 300;
	}
	.location,
	.skills {
		height: 240px;
		@media screen and (max-width: 800px) {
			height: 360px;
		}
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 24px;
		position: relative;
		overflow: hidden;
	}
	.globe {
		aspect-ratio: 1 / 1;
		bottom: -190px;
		flex: none;
		height: var(--framer-aspect-ratio-supported, 388px);
		left: 0;
		position: absolute;
		right: 0;
		@media screen and (max-width: 800px) {
			bottom: unset;
			height: var(--framer-aspect-ratio-supported, 342px);
			top: 80px;
			width: 100%;
		}
	}
	.projects {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 24px;
	}
	.projects-list {
		width: 100%;
		display: flex;
		flex-direction: row;
		@media screen and (max-width: 800px) {
			flex-direction: column;
		}
		align-items: center;
		justify-content: center;
		gap: 24px;
	}
	.stack {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 24px;
	}
	.stacks {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
</style>
