---
import ProjectCard from '../components/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Projects'>
	<div class='section hero'>
		<div class='hero-container'>
			<h1>My Projects</h1>
			<p class='hero-text'>
				Welcome to my Project Page! I'm Leon, a web designer focused on crafting
				seamless, captivating digital experiences. Explore my work—a blend of
				responsive design and intuitive UI. Let's create digital stories
				together!
			</p>
		</div>
	</div>
	<div class='section projects'>
		<div class='projects-container'>
			<ProjectCard />
			<ProjectCard />
			<ProjectCard />
			<ProjectCard />
			<ProjectCard />
			<ProjectCard />
		</div>
	</div>
</Layout>

<style>
	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 12px;
	}
	.hero-text {
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 300;
		color: var(--light-60);
	}
	.projects-container {
		width: auto;
		display: grid;
		gap: 24px;
		grid-auto-rows: minmax(0px, 1fr);
		grid-template-columns: repeat(2, minmax(200px, 1fr));
		height: min-content;
		justify-content: center;
		@media screen and (max-width: 800px) {
			place-content: flex-start;
			align-items: flex-start;
			display: flex;
			flex-flow: column;
		}
	}
</style>
