---
import { getCollection } from 'astro:content'
import ProjectCard from '../components/ProjectCard.astro'
import PageLayout from '../layouts/PageLayout.astro'
const allProjects = await getCollection('projects')
---

<PageLayout title='Projects'>
	<div class='section hero'>
		<div class='hero-container'>
			<h1>My Projects</h1>
		</div>
	</div>
	<div class='section projects'>
		<div class='projects-container'>
			{
				allProjects.map(project => (
					<ProjectCard
						title={project.data.title}
						url={project.slug}
						tags={project.data.tags}
						imageUrl={project.data.image.url}
					/>
				))
			}
		</div>
	</div>
</PageLayout>

<style>
	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 12px;
	}
	.hero-text {
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 300;
		color: var(--light-60);
	}
	.projects-container {
		width: auto;
		display: grid;
		gap: 24px;
		grid-auto-rows: minmax(0px, 1fr);
		grid-template-columns: repeat(2, minmax(200px, 1fr));
		height: min-content;
		justify-content: center;
		@media screen and (max-width: 800px) {
			place-content: flex-start;
			align-items: flex-start;
			display: flex;
			flex-flow: column;
		}
	}
</style>
