---
import ContactSection from '../components/ContactSection.astro'
import SkillCard from '../components/SkillCard.astro'
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout title='Stack'>
	<div class='section hero'>
		<div class='hero-container'>
			<h1>Full Stack</h1>
		</div>
	</div>
	<div class='section skills'>
		<SkillCard icon='react' link='https://reactjs.org'>
			<h3 slot='title' class='stack-title-text'>React</h3>
		</SkillCard>
		<SkillCard icon='nextjs' link='https://nextjs.org'>
			<h3 slot='title' class='stack-title-text'>NextJS</h3>
		</SkillCard>
		<SkillCard icon='astro' link='https://astro.build'>
			<h3 slot='title' class='stack-title-text'>Astro</h3>
		</SkillCard>
		<SkillCard
			icon='javascript'
			link='https://developer.mozilla.org/en-US/docs/Web/JavaScript'
		>
			<h3 slot='title' class='stack-title-text'>JavaScript</h3>
		</SkillCard>
		<SkillCard icon='typescript' link='https://www.typescriptlang.org'>
			<h3 slot='title' class='stack-title-text'>TypeScript</h3>
		</SkillCard>

		<!-- <SkillCard icon='node' link='https://nodejs.org'>
			<h3 slot='title' class='stack-title-text'>NodeJS</h3>
		</SkillCard>
		<SkillCard icon='express' link='https://expressjs.com'>
			<h3 slot='title' class='stack-title-text'>ExpressJS</h3>
		</SkillCard> -->
		<SkillCard icon='postgresql' link='https://www.postgresql.org'>
			<h3 slot='title' class='stack-title-text'>PostgreSQL</h3>
		</SkillCard>
		<SkillCard icon='redis' link='https://redis.io'>
			<h3 slot='title' class='stack-title-text'>Redis</h3>
		</SkillCard>
		<SkillCard icon='tailwind' link='https://tailwindcss.com'>
			<h3 slot='title' class='stack-title-text'>Tailwind</h3>
		</SkillCard>
		<SkillCard icon='python' link='https://www.python.org'>
			<h3 slot='title' class='stack-title-text'>Python</h3>
		</SkillCard>
	</div>
	<ContactSection />
</PageLayout>

<style>
	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 12px;
	}
	.hero-text {
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 300;
		color: var(--light-60);
	}
	.skills {
		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 1fr));
		gap: 16px;
		@media screen and (max-width: 800px) {
			grid-template-columns: repeat(2, minmax(200px, 1fr));
		}
		@media screen and (max-width: 500px) {
			grid-template-columns: repeat(1, minmax(200px, 1fr));
		}
	}
</style>
