---
import MenuButton from './MenuButton.astro'
type Icons = 'house' | 'user' | 'pencilline' | 'stacksimple' | 'paperplanetilt'
type Selected = 'Home' | 'About' | 'Projects' | 'Stack' | 'Contact'
type MenuButtons = {
	[key in Selected]: Icons
}
interface Props {
	selected?: Selected | '404' | 'Licensing'
}
const { selected = 0 } = Astro.props

const menuButtons: MenuButtons = {
	Home: 'house',
	About: 'user',
	Projects: 'pencilline',
	Stack: 'stacksimple',
	Contact: 'paperplanetilt',
}
---

<div class='navbar'>
	{
		Object.entries(menuButtons).map(
			([key, value]) =>
				!['404', 'Licensing'].includes(key) && (
					<MenuButton
						selected={key === selected}
						icon={value}
						link={key === 'Home' ? '/' : `/${key.toLowerCase()}`}
					/>
				)
		)
	}
</div>

<style>
	.navbar {
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 12px;
		padding: 12px;
		border-radius: 30px;
		background-color: rgba(15, 15, 15, 0.6);
		backdrop-filter: blur(9px);
		position: fixed;
		bottom: 12px;
	}
</style>
