---
interface Props {
	title: string
	color?: string
}
const { title, color = 'var(--purple-80)' } = Astro.props
---

<div class='pill'>
	<p class='pill_text' style={`color: ${color}`}>{title}</p>
</div>

<style>
	.pill {
		width: fit-content;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 10px;
		padding: 0 8px;
		border-radius: 8px;
		background-color: var(--dark-10);
	}
	.pill_text {
		font-size: 12px;
		line-height: 1.2em;
		font-weight: 300;
		text-wrap: nowrap;
	}
</style>
