---
import Pill from './Pill.astro'
---

<div class='project-card'>
	<a href='#' class='project-link'>
		<div class='project-image'>
			<img
				src='https://framerusercontent.com/images/2h3F2FeE659yKKEV2amJa9j5IYI.svg?scale-down-to=1024'
				alt=''
				srcset=''
			/>
		</div>
		<div class='project-details'>
			<div class='project-pills'>
				<Pill title='Category 1' />
				<Pill title='Category 2' />
				<Pill title='Category 3' />
			</div>
			<h3 class='project-title'>Title</h3>
		</div>
	</a>
</div>

<style>
	.project-card {
		width: 340px;
	}

	.project-link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 12px;
	}
	.project-image {
		width: 100%;
		height: 227px;
		border-radius: 12px;
		overflow: hidden;
		transition: transform 0.3s ease-out;
	}
	.project-image img {
		width: 100%;
		object-fit: cover;
		object-position: top center;
		transition: transform 0.3s ease-out;
	}
	.project-card:hover .project-image {
		transform: translateY(-8px);
		transition: transform 0.3s ease-out;
	}
	.project-card:hover img {
		transform: scale(1.05);
		transition: transform 0.3s ease-out;
	}
	.project-details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 8px;
	}
	.project-pills {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 8px;
	}
	.project-title {
	}
</style>
