---
import Diamond from './Icons/Diamond.astro'
import MapPin from './Icons/MapPin.astro'
import PencilLine from './Icons/PencilLine.astro'
import StackSimple from './Icons/StackSimple.astro'

type Icons = 'map-pin' | 'diamond' | 'pencilline' | 'stacksimple'
interface Props {
	title: string
	icon: Icons
}
const { title, icon } = Astro.props
const iconMap = {
	'map-pin': MapPin,
	diamond: Diamond,
	pencilline: PencilLine,
	stacksimple: StackSimple,
}
const IconComponent = iconMap[icon]
---

<div class='section-title'>
	<div class='section-title-icon'>
		<IconComponent size={21} />
	</div>
	<h2 class='section-title-text'>{title}</h2>
</div>

<style>
	.section-title {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		height: 21px;
		height: min-content;
		color: var(--green-40);
		font-weight: 500;
	}
	.section-title-icon {
		height: 21px;
		width: 21px;
		color: var(--green-40);
		font-weight: 500;
	}
	.section-title-text {
		height: 100%;
	}
</style>
