---
import Ticker from './Ticker.astro'
---

<div class='skills-ticker'>
	<Ticker speed={40} />
	<Ticker speed={30} />
	<Ticker speed={50} />
</div>

<style>
	.skills-ticker {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 12px;
	}
</style>
