---
import MenuButton from './MenuButton.astro'
---

<div class='social-icon-group'>
	<MenuButton variant='social' />
	<MenuButton variant='social' />
	<MenuButton variant='social' />
	<MenuButton variant='social' />
</div>

<style>
	.social-icon-group {
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 12px;
	}
</style>
