---
import MenuButton from './MenuButton.astro'
---

<div class='social-icon-group'>
	<MenuButton
		variant='social'
		icon='github'
		link='https://github.com/selfdestroying'
		target='_blank'
	/>
	<MenuButton
		variant='social'
		icon='telegram'
		link='https://t.me/selfdestroyingq'
		target='_blank'
	/>
	<MenuButton
		variant='social'
		icon='instagram'
		link='https://www.instagram.com/selfdestroyingq/'
		target='_blank'
	/>
</div>

<style>
	.social-icon-group {
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 12px;
	}
</style>
