---
interface Props {
	title: string
}
const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<!-- <meta
			name='viewport'
			content='width=device-width, initial-scale=1, maximum-scale=1'
		/> -->
		<link rel='icon' type='image/x-icon' href='/profile.ico' />
		<meta name='generator' content={Astro.generator} />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'
			rel='stylesheet'
		/>
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'
		/>
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
	</head>
	<body>
		<div class='container'>
			<slot />
		</div>
		<style is:global>
			:root {
				--purple-90: #d6ccff;
				--purple-80: #ac99ff;
				--green-40: #00cc96;
				--light-90: #e6e6e6;
				--light-60: #999999;
				--dark-10: #1a1a1a;
				--dark-06: #0f0f0f;
				--dark-02: #050505;
				--spring-easing: linear(
					0,
					0.00646 1.17%,
					0.02572 2.41%,
					0.10512 5.241%,
					0.56499 16.262%,
					0.75608 21.812%,
					0.82886 24.552%,
					0.88872 27.353%,
					0.9367 30.263%,
					0.97364 33.333%,
					0.99703 36.124%,
					1.0136 39.144%,
					1.02378 42.464%,
					1.02815 46.265%,
					1.02625 51.815%,
					1.00317 74.817%,
					0.99927
				);
				--spring-duration: 0.5s;
			}
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				font-family:
					Bai Jamjuree,
					sans-serif;
			}
			body {
				background-color: var(--dark-02);
				color: var(--light-90);
			}
			h1 {
				font-weight: 500;
				color: var(--light-90);
				font-size: 36px;
				line-height: 1.2em;
			}
			h2 {
				font-weight: 500;
				color: var(--light-90);
				font-size: 18px;
				line-height: 1.2em;
			}
			h3 {
				font-weight: 400;
				color: var(--light-90);
				font-size: 16px;
				line-height: 1.4em;
			}
			a {
				color: var(--light-90);
				text-decoration: none;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				border-radius: 12px;
			}
			ul {
				list-style-position: inside;
			}
			.container {
				min-height: 100vh;
				width: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: nowrap;
				gap: 24px;
				background-color: var(--dark-02);
				padding: 24px 24px 102px;
				overflow: hidden;
			}
			.section {
				max-width: 800px;
				width: 100%;
				background-color: var(--dark-06);
				border-radius: 30px;
				display: flex;
				flex-direction: column;
				padding: 24px;
				gap: 24px;
				animation: var(--spring-duration) fadein var(--spring-easing);
			}
			.columns {
				width: 100%;
				max-width: 800px;
				display: flex;
				flex-direction: row;
				@media screen and (max-width: 800px) {
					flex-direction: column;
				}
				justify-content: center;
				align-items: center;
				gap: 24px;
			}
			@keyframes fadein {
				0% {
					transform: scale(0.8);
					opacity: 0;
				}
				100% {
					transform: scale(1);
					opacity: 1;
				}
			}
		</style>
	</body>
</html>
